/ddl.aluno.txt
/ddl.crm.txt
/ddl.documento.txt
/ddl.endereco.txt
/ddl.escola.txt
/ddl.filiacao.txt
/ddl.funcionario.txt
/ddl.inscricao.txt
/ddl.matricula.txt
/ddl.pessoa.txt
/ddl.procedure.txt
/ddl.relacionamento_tabelas.txt
/ddl.security.txt
/ddl.telefone.txt
/ddl.turma.txt
/dml.crm.txt
